.ie11date
	{
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
	}

pre code {
            overflow-x: auto;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
         }


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.datepicker td, .datepicker th {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.85rem;
}

.datepicker {
    margin-bottom: 0rem;
    padding: 0px; !important;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

.input-group {
    border-radius: 30rem;
}

input.form-control {
    border-radius: 30rem 0 0 30rem;
    border: none;
}

input.form-control:read-only {
    background: #e9ecef;
}

select.form-select {
    border-radius: 0rem;
    border: none;
}

input.form-control:focus {
    box-shadow: none;
}

input.form-control::placeholder {
    font-style: italic;
}

.input-group-text {
    border-radius: 0 30rem 30rem 0;
    border: none;
}

.datepicker-dropdown {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

input.alert {
    padding: 6px 12px 6px 12px !important;
	margin: 0px !important;
}

body {
  min-width: 480px;}
